@import url("https://fonts.googleapis.com/css?family=Rozha+One");
@import url("https://fonts.googleapis.com/css?family=Monoton");

body {
   margin: auto;
   width: 640px;
   font-family: "Rozha One", sans-serif;
}

h1 {
    font-family: "Monoton", sans-serif;
}

p:nth-child(2) {
   float: left;
   margin-left: -32px;
   padding: 16px 16px 16px 0;
   width: 100px;
   font-style: italic;
}

p:nth-child(4) {
   text-align: right;
   float: right;
   margin-right: -32px;
   padding: 16px 0 16px 16px;
   width: 100px;
   font-style: italic;
}

p:last-of-type {
   text-align: justify;
}
